/* :root {
  --text: rgb(36, 57, 77);
  --header-background: rgb(61, 61, 61);
  --secondary-text: rgb(133, 202, 187);
}
body {
  background-color: lightgray;
}
header {
  padding: 1% 0px;
  background-color: var(--header-background);
  color: var(--text);
}

header h1 {
  display: inline-block;
  padding: 1%;
  padding-left: 5%;
  background-color: var(--secondary-text);
  color: var(--header-background);
  font-size: 56px;
}

header ul {
  padding: 1.5%;
  float: right;
  font-size: 28px;
}

header li {
  display: inline-block;
  margin: 10px;
}

header a {
  color: var(--secondary-text);
}

section {
  color: var(--text);
  display: flex;
  flex-direction: row;
}

.content {
  margin: 2% 10% 0px 1%;
  padding-left: 10px;
  border-left: solid var(--text);
  justify-content: left;
}

h2 {
  font-size: 48px;
  margin: 2% 0 0 0;
  margin-left: 5%;
  text-align: right;
}

#aboutMe p {
  font-size: 20px;
}

#firstLink {
  border: solid var(--secondary-text);
  background-color: var(--secondary-text);
}

#firstLink img {
  max-width: 100%;
  margin-left: 10px;
  float: right;
  border: solid var(--secondary-text);
}

#myWork a {
  color: var(--header-background);
  text-decoration: none;
}

#contactMe ul {
  align-items: center;
  padding: 15px;
  float: right;
  font-size: 28px;
}

#contactMe li {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  margin: 10px 10px 0 10px;
}

#contactMe a {
  color: var(--text);
}
 
*/

:root {
  --bs-primary-rgb: 61, 61, 61;
  --bs-secondary-rgb: 133, 202, 187;
}
