:root {
    --text: rgb(36, 57, 77);
    --header-background: rgb(61, 61, 61);
    --secondary-text: rgb(133, 202, 187);
    --border-radius: 50px;
  }

header {
    padding: 10px 0px;
    background-color: var(--header-background);
    color: var(--text);
}

header h1 {
    display: inline-block;
    padding: 10px;
    padding-left: 5%;
    background-color: var(--secondary-text) ;
    color: var(--header-background);
    font-size: 56px;
}

header ul {
    padding: 15px;
    float: right;
    font-size: 28px;
}

header li {
    display: inline-block;
    margin-left: 10px;
}

header a {
    color: var(--secondary-text);
}

section {
    color: var(--text);
    display: flex;
    flex-direction: row;
}

.content {
    margin: 50px 100px 0px 30px;
    padding-left: 10px;
    border-left: solid var(--text);
    justify-content: left;
}

h2 {
    font-size: 48px;
    margin: 50px 0;
    margin-left: 80px;
    padding-top: 15px;
    justify-content: right;
}

#aboutMe p {
    font-size: 20px;
}

#contactMe ul {
    align-items: center;
    padding: 15px;
    float: right;
    font-size: 28px;
}

#contactMe li {
    align-items: center;
    display: inline-block;
    margin: 10px 10px 0 10px;
}


#contactMe a {
    color: var(--text);
}